services:
  # Our PostgreSql database service
  db:
    #Using the lastest PostgreSQL image
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: password

  # Database management interface service
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8888:8080